.cont {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a light box shadow */
}

.logo_box {
  position: relative;
  overflow: hidden;
}
.logo {
  left: 15%;
  width: 250px;
}

p {
  color: var(--color-primary);
  text-align: center;
  font-size: small;
}

input {
  width: 250px;
  height: 35px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}


a {
  font-weight: lighter;
  font-size: 12px;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
}
